.env
google_credentials.json
.zshrc
.zsh_history
.zsh_sessions/
.claude/
.claude.json
.DS_Store
.vscode/
.vscode-shared/
.copilot/
Library/
Downloads/
Documents/
Desktop/
Pictures/
Movies/
Music/
Applications/
Public/
*.csv
*.txt
